{# templates/user/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ form_start(form) }}
    {{ form_row(form.login) }}
    {{ form_row(form.password) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.birth) }}
    {{ form_row(form.country) }}
    <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}